[core]
        repositoryformatversion = 0
        filemode = false
        bare = false
        logallrefupdates = true
        symlinks = false
        ignorecase = true
        hideDotFiles = dotGitOnly
[remote "origin"]
        url = https://github.com/dase314/db_impl_course.git
        fetch = +refs/heads/*:refs/remotes/origin/*
[remote "mirror"]
        url = https://github.com/JasonXQH/db_impl_course.git
        fetch = +refs/heads/*:refs/remotes/origin/*
[branch "master"]
        remote = origin
        remote = mirror
        merge = refs/heads/master